In [1]:
import pandas as pd

### 1- read .dta datasets in /data

In [2]:
file_h = pd.read_stata("data/it14ih.dta")
file_p = pd.read_stata("data/it14ip.dta")

### 2 - subset variables

In [3]:
file_h.columns.values

array(['hid', 'dhi', 'hitotal', 'hifactor', 'hitransfer', 'hilabour',
       'hi11', 'hi12', 'hi121', 'hi13', 'hi14', 'hicapital', 'hi21',
       'hi22', 'hipension', 'hi31', 'hi311', 'hi312', 'hi32', 'hi33',
       'hi331', 'hi332', 'hpublic', 'hpub_i', 'hpub_u', 'hpub_a',
       'hipubsoc', 'hi41', 'hi411', 'hi412', 'hi42', 'hi421', 'hi422',
       'hi43', 'hi44', 'hi45', 'hi46', 'hi47', 'hi471', 'hiprivate',
       'hi51', 'hi511', 'hi52', 'hi521', 'hi522', 'hi53', 'hi531',
       'hi532', 'dhci', 'hvalgs', 'hxitsc', 'hxitax', 'hxscont', 'hxotax',
       'hxptax', 'hxvcont', 'hxiht', 'hxalim', 'hxremit', 'hxmort',
       'hxintm', 'hxloan', 'hxintl', 'hhouscost', 'hrenti', 'hcexp',
       'hc1', 'hc2', 'hc3', 'hc4', 'hc41', 'hc5', 'hc6', 'hc7', 'hc8',
       'hc9', 'hc10', 'hc11', 'hc12', 'helabour', 'hecgain', 'heinherit',
       'heoth', 'nearn', 'region_c', 'locsz_c', 'area_c', 'rural', 'own',
       'dweltyp', 'farming', 'did', 'dname', 'cname', 'iso2', 'iso3',
       'year', 'wave', 'currency', 'grossnet', 'nhhmem', 'nhhmem65',
       'nhhmem17', 'nhhmem13', 'hhtype', 'hpartner', 'hwgt', 'hpopwgt',
       'hwgta', 'fhimpu'], dtype=object)

In [4]:

file_h = file_h[["hid", "hilabour", "nhhmem", "hpopwgt"]]

file_p = file_p[["hid", "pid", "pilabour", "sex", "age", "marital",
                 "disabled", "educlev", "lfs", "status1", "ind1_c", "occ1_c"]]

In [5]:
file_h.columns.values

array(['hid', 'hilabour', 'nhhmem', 'hpopwgt'], dtype=object)

### 3- merge datasets

In [6]:
file = file_p.merge(file_h, on="hid", how="left")

### 4- Arrange the data

In [7]:
file = file[(file["age"] >= 30) & (file["age"] <= 60) & (file["pilabour"] > 0)]

#### Print number of rows in the dataset

In [8]:
file.shape

(648, 15)

#### Print number of NAs in each variable

In [9]:
file.isnull().sum()

hid           0
pid           0
pilabour      0
sex           0
age           0
marital       0
disabled      0
educlev       0
lfs           0
status1      12
ind1_c       12
occ1_c      133
hilabour      0
nhhmem        0
hpopwgt       0
dtype: int64

#### Delete rows with NAs

In [10]:
file = file.dropna()

#### Drite file to csv

In [11]:
file.to_csv("clean_data/it14i.csv", index=False)